$font-family : 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$font-size-h1 : 3em;
$font-weight: bold;
$font-size : 1em;
$font-color : #f4f4f4;
$bg-header : #640fc5;
$colore-bg-bottoni : (
    first : #0e6cff,
    second : #ff8700,
    third : #4caf50,
);
$d-flex : flex;
$flex-column : column;
$width-logo : 150px;